<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<!-- <div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }}

		</div> -->

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Cornely Nijholt</h3>
				<ul class="mb3">
          <li>Philippus de Montestraat 31</li>
          <li>5216 GV 's-Hertogenbosch</li>
          <li><i class="material-icons">phone_iphone</i>&nbsp;06 33 85 84 02</li>
          <li><i class="material-icons">email</i>&nbsp;<a href="mailto:cornely@bureauintiemezaken.nl">cornely@bureauintiemezaken.nl<a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Snel naar</h3>
				<ul class="mb3">
          <li><a href="/" class="link">Home</a></li>
					<li><a href="/diensten" class="link">Mijn diensten</a></li>
					<li><a href="/overmij" class="link">Over mij</a></li>
					<li><a href="/post" class="link">Blog</a></li>
          <li><a href="/post/testimonials/" class="link">Testimonials</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Sociale media</h3>
				<ul class="mhn2">
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "facebook") }} -->
					{{ partial "social-icon" (dict "link" "https://facebook.com/bureauintiemezaken/" "svg" "facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
