{{ partial "head" . }}
{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}
<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">Counseling</h3>
    <p>
      Seks verloopt niet voor iedereen en in elke levensfase plezierig en probleemloos. Counseling kan helpen om dit plezier weer terug te vinden. Bureau Intieme Zaken kan hierbij helpen wanneer bijvoorbeeld de stap naar een seksuoloog te groot is of misschien niet nodig.
    </p>
    <p>
      Bij Bureau Intieme Zaken kun je terecht voor kortdurende en laagdrempelige counseling bij vragen rondom bijvoorbeeld verschil in verlangen, seksuele oriëntatie, geen zin in seks of een veranderde seksualiteit door ziekte, zwangerschap of beperking.
    </p>
    <p>
      Het gaat erom dat je voor jezelf je seksualiteit weer zo kunt ontdekken en vormgeven dat je er zelf tevreden mee bent.
    </p>
    <h3 class="f3 b lh-title mb2">Tarieven</h3>
    <p>
      Voor een consult is geen verwijzing van de huisarts nodig. Een consult seksuele gezondheid wordt (nog) niet vergoed door de zorgverzekeraar.
    </p>

    <p>
      Consulten zijn altijd op afspraak. Mogelijkheden zijn er zowel overdag als in de avond. Afspraken kunnen individueel of samen met een partner plaatsvinden.
    </p>
      Via onderstaand e-mailadres kun je je aanmelden voor een kennismakings- of behandelgesprek.
      Dit kennismakingsgesprek is telefonisch en kosteloos.
    </p>
    <p>
      Tarieven consult (individueel of als stel): <strong>&euro;67,50 voor 45 min.</strong>
    </p>
    <p><em>Wanneer het consult meer dan 24 uur van tevoren geannuleerd wordt dan is dit kosteloos. Afspraken die minder dan 24 uur van tevoren worden afgezegd, worden in rekening gebracht.</em></p>
  </div>
</div>


<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100">

<!-- {{ partial "table" .Params.pricing }} -->

{{ partial "footer" . }}
