{{ partial "head" . }}
{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}
<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">Counseling</h3>
    <p>Seks is niet in elke levensfase plezierig of probleemloos. Als consulent seksuele gezondheid kan ik je helpen om weer plezier te beleven aan seks.</p>

    <p>De stap naar een huisarts of seksuoloog blijkt in de praktijk niet altijd nodig.</p>

    <p>
     Je kunt bij mij terecht voor laagdrempelige en kortdurende counseling met betrekking tot vragen rondom bijvoorbeeld
     verschil in verlangen, pijn bij het vrijen, seksuele oriëntatie, geen zin in seks of een veranderde seksualiteit 
     door ziekte, zwangerschap of beperking.</p>
    
    <p>Deze gesprekken kunnen zowel individueel als met een partner plaatsvinden.</p>

    <p>Het doel van counseling is dat jij seksualiteit weer zo kunt ontdekken en vormgeven dat je het weer als een plezier kunt ervaren.</p>

    <p>Neem geheel vrijblijvend contact op. </p>
    
    <p>De gesprekken vinden plaats in de regio Den Bosch.</p>




    <h3 class="f3 b lh-title mb2">Tarieven</h3>
    <p>
      Voor een consult is geen verwijzing van de huisarts nodig. Een consult seksuele gezondheid wordt (nog) niet vergoed door de zorgverzekeraar.
    </p>

    <p>
      Consulten zijn altijd op afspraak. Mogelijkheden zijn er zowel overdag als in de avond. Afspraken kunnen individueel of samen met een partner plaatsvinden.
    </p>
      Via onderstaand e-mailadres kun je je aanmelden voor een kennismakings- of behandelgesprek.
      Dit kennismakingsgesprek is telefonisch en kosteloos.
    </p>
    <p>
      Tarieven consult (individueel of als stel): <strong>&euro;67,50 voor 45 min.</strong>
    </p>
    <p><em>Wanneer het consult meer dan 24 uur van tevoren geannuleerd wordt dan is dit kosteloos. Afspraken die minder dan 24 uur van tevoren worden afgezegd, worden in rekening gebracht.</em></p>

    <h3 class="f3 b lh-title mb2">Geaccrediteerde scholing</h3>
    <p>
      Bureau Intieme Zaken biedt ook geaccrediteerde scholing aan, zoals de scholing <em>Intimiteit en Seksualiteit op leeftijd</em>. Deze 1-daagse scholing is geaccrediteerd door het kwaliteitsregister van de V&amp;V. Enkele thema's die aan bod komen zijn de persoonlijke visie van de zorgprofessional, het belang van aandacht voor seksuele gezondheid, diverse ziektebeelden en gespreksvaardigheid.
    </p>
    <p>
      Deze scholing wordt gegeven in Buren (&euro;265,- p.p. inclusief lunch)
    </p>
    <p>
      Inschrijven? Stuur een email naar <a href="mailto:cornely@bureauintiemezaken.nl">cornely@bureauintiemezaken.nl</a> of <a href="https://www.pe-online.org/public/OpleidingDetail.aspx?courseID=306286&pid=289">klik hier</a>.
    </p>
    <p>
      Bureau Intieme Zaken biedt deze training ook incompany aan. Neem gerust contact op om de mogelijkheden te bespreken.
    </p>
  </div>
</div>


<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100">

<!-- {{ partial "table" .Params.pricing }} -->

{{ partial "footer" . }}
