{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w4 center pv4">

		<p>Als Bureau Intieme Zaken streef ik ernaar om iedereen zo goed mogelijk te kunnen helpen. Van scholen tot GGD's, van zorginstellingen tot persoonlijke consulten.</p>


		<!-- <h3 class="f4 b lh-title mb2">Contact opnemen?</h3>
		<p>Je kunt onderstaand formulier gebruiken om een afspraak te maken, maar je kunt me ook direct mailen of bellen!</p> -->

		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mb2 primary">Cornely Nijholt</h4>
				<p>Zuidoosterfront 110<br/>5213 EG<br/>Den Bosch<br/>
        <p>
          <i class="material-icons">phone_iphone</i>&nbsp;06 33 85 84 02</li><br/>
          <i class="material-icons">email</i>&nbsp;<a href="cornely@bureauintiemezaken.nl">cornely@bureauintiemezaken.nl<a></li>
        </p>
			</div>

			<!-- <div>
				<h4 class="p1 f4 b lh-title mb2 primary">Contactgegevens</h4>
				<p>06 12 34 56 78</p>
			</div> -->

		</div>

		<!-- {{ partial "contact-form" . }} -->

	</div>
</div>

{{ partial "footer" . }}
