{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Over mij") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Over mij" "text" "Mijn naam is Cornely Nijholt en ik ben Consulent Seksuele Gezondheid. Vanuit passie en overtuiging zet ik me in voor onderwerpen die me aan het hart gaan, zoals seksualiteit." "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Opleidingen" "text" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sint aperiam reiciendis excepturi rerum, vero temporibus, quo eos, eaque voluptatem laudantium. Ea sapiente at veniam consectetur repudiandae, deleniti, dolore numquam." "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Werkervaring" "text" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate unde natus sit eaque delectus facere doloremque adipisci impedit eum aliquid est, molestias nisi, quae modi nam maxime quidem porro aliquam." "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Wat doet een Consulent?" "text" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, assumenda adipisci voluptatem tempora ducimus, porro qui quo quasi officiis alias dolorem ad odio, voluptatum excepturi consequatur possimus delectus fuga nihil." "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "NVVS registratie" "text" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nihil sed iure temporibus labore in perspiciatis esse delectus laudantium est, animi quam ducimus similique neque veritatis, facere reprehenderit inventore? Architecto!" "imageUrl" "/img/about/reinvest-profits.jpg") }}
</div>

{{ partial "footer" . }}
