{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Over mij") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Achter het bureau" "text" "En wie zit er achter het bureau? Bureau Intieme Zaken is opgericht door Cornely Nijholt, verpleegkundige en Consulent Seksuele Gezondheid. ,,Ik vind het belangrijk dat iedereen, ongeacht leeftijd, seksualiteit op een positieve manier moet kunnen beleven. Seksualiteit maakt een belangrijk deel uit van ons leven. Ik ga hier graag met mensen over in gesprek; betrokken en open, de schaamte voorbij.''" "imageUrl" "/img/about/shade-grown.jpg") }}



  {{ partial "media-block-reverse" (dict "heading" "Wat doet een Consulent?" "text" "De consulent seksuele gezondheid NVVS is vaak een psycholoog, verpleegkundige, agoog, pedagoog of docent, die counseling geeft, voorlichting en preventie uitvoert en vorm geeft, zelf interventies ontwikkelt, praktijkonderzoek opzet en adviezen geeft of beleid maakt op het gebied van seksuele gezondheid. Een consulent kan cliënten of hun omgeving, maar ook professionals en/of organisaties ondersteunen op het gebied van seksuele gezondheid. (bron: nvvs.info)" "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "BIG geregistreerd en NVVS lid" "text" "Regelmatig volg ik cursussen en opleidingen bij o.a. Rutgers, Soaaids en Movisie. Daarnaast maak ik deel uit van een intervisiegroep." "imageUrl" "/img/about/reinvest-profits.jpg") }}
</div>

{{ partial "footer" . }}
