{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "BUREAU INTIEME ZAKEN" "subtitle" "Counseling en voorlichting over seksualiteit") }}

<!-- {{ partial "short-text" (dict "heading" "Waarom Bureau Intieme Zaken?" "text" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officiis hic at, dolorum eius! Nostrum dolore aspernatur nulla quia vero, enim officiis nisi, obcaecati distinctio maiores vitae, aut quos at.")}} -->

{{ partial "2-up" (dict "heading" "Seksualiteit en intimiteit" "description" "Bureau Intieme Zaken vindt het belangrijk dat ieder mens, jong of oud, zijn of haar eigen seksualiteit op een leuke, vrijwillige, veilige en gelijkwaardige manier kan ontdekken en beleven. Seksualiteit hoort immers bij ons leven en is een belangrijke basis voor onze gezondheid en ons levensgeluk." "buttonText" "Meer informatie" "buttonLink" "/diensten"  ) }}

{{ partial "text-and-image" (dict "heading" "Voorlichting" "text" "Bureau Intieme Zaken ontwerpt en verzorgt gastlessen en trainingen voor het onderwijs en de gezondheidszorg. De doelgroep is divers: van jong tot oud, van leerling tot ouder en van student tot professional. Op een toegankelijke en interactieve manier,  en met een dosis humor, mag alles besproken worden. Niets is te gek." "buttonText" "Meer informatie" "buttonLink" "/diensten") }}

<!-- {{ partial "blog" . }} -->

{{ partial "footer" . }}
