{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Bureau Intieme Zaken" "subtitle" "Counseling en voorlichting over seksualiteit") }}

<!-- {{ partial "short-text" (dict "heading" "Waarom Bureau Intieme Zaken?" "text" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officiis hic at, dolorum eius! Nostrum dolore aspernatur nulla quia vero, enim officiis nisi, obcaecati distinctio maiores vitae, aut quos at.")}} -->

{{ partial "2-up" (dict "heading" "Seksualiteit" "description" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque adipisci, quaerat, ut laboriosam molestias saepe voluptatum, tenetur quae praesentium repudiandae ullam. Harum deserunt, dolorum nostrum quam eum error dolores. Deserunt!" "svg1" "img/illustrations/loupe.jpg" "text1" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt fuga excepturi ad rerum! Neque earum laboriosam, doloribus et fugiat provident, obcaecati! Dolore vero porro eligendi praesentium obcaecati, placeat nobis!" "svg2" "/img/illustrations/loupe_blank.jpg" "text2" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, molestias, voluptatem sint commodi velit corporis consequuntur culpa et expedita atque amet sed qui dolorum ad, accusantium minima dolore laboriosam perferendis." "buttonText" "Meer informatie" "buttonLink" "/diensten"  ) }}

{{ partial "text-and-image" (dict "heading" "Voorlichting" "text" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus laboriosam et doloribus, quam expedita dignissimos, sed fugiat voluptatum maiores ab suscipit. Distinctio, quaerat. Rem doloribus nihil distinctio sunt ratione a." "buttonText" "Meer informatie" "buttonLink" "/diensten") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
